* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: 7px;
    color: #bae27b;
}

h3 {
    color: #bae27b;
}

h5 {
    color: #59b0aa
}

li {
    padding-top: 10px;
    color: #59b0aa;
}

a {
    color: #59b0aa;
}

.main__page {
    margin: 0 auto;
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 3px solid #69d1d9;
    border-radius: 6px;
}

.sidebar .sidebar__text {
    padding: 50px;
    max-width: 270px;
    min-width: 270px;
    line-height: 1.5;
}

.main__page .content {
    padding: 50px;
    max-width: 600px;
}

.main__page .content .header-cv {}

.main__page .content .header-cv h1 {
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 45px;
    color: #c4416c;
}

.content h2 {
    padding-top: 15px;
}

.main__page .content .about {
    padding-top: 10px;
    color: #59b0aa;
}

body {
    padding: 40px 40px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/wallpaper.svg);
    background-size: cover;
}

.photo {
    max-width: 290px;
}

.sidebar {
    padding: 40px, 0, 40px, 0;
    margin: auto;
    min-width: 290px;
    max-width: 290px;
    background-color: rgba(95, 190, 172, .4);
    border-left-color: #1e3034;
    border-right-color: #1e3034;
    border-left-width: 3px;
    border-right-width: 3px;
}