@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Roboto-Thin.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Thin.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Roboto-Light.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Light.woff2');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../assets/fonts/Roboto-Medium.woff2');
}
:root {
  --text-sz: 20px;
  --max-width: 1440px;
  --content-width: 1238px;
  --button-blue: #534196;
  --light-blue: #9477fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #59b0aa; */
  color: #97f0eb;
}

.group::before,
.group::after {
  content: '';
  display: table;
}

.group::after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

h2 {
  /* border-bottom: 1px solid #eaecef;
  padding-bottom: 7px; */
  color: #bae27b;
}

h3 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #bae27b;
}

h4 {
  color: #bae27b;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
}

h5 {
  /* padding-top: 20px; */
  color: #59b0aa;
}

h6 {
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
}

ul {
  list-style: none;
}

li {
  list-style-type: square;
  list-style-position: inside;
}

a {
  font-size: 14px;
}

p {
  /* padding-top: 20px; */
}

body {
  font-size: var(--text-sz);
  font-family: Roboto;
  font-weight: 400;
  transition: background 0.6s ease-in-out;
  --dark-gradient: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  --max-width: 1300px;
  /* font-family: 'Montserrat', sans-serif; */
  /* background-image: url(../img/wallpaper.svg);
    background-size: cover; */
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #03001e 20%,
    #7303c0,
    #ec38bc,
    #fdeff9
  ); /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(
    to bottom,
    #03001e 20%,
    #7303c0,
    #ec38bc,
    #fdeff9
  ); /* Chrome 10-2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}
section {
  margin: 0 auto;
}
.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  /* max-width: var(--max-width); */
  padding: 0 2rem;
}

.header {
  display: flex;
  height: 110px;
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 0)
  ); */
  min-height: 110px;
  /* background-color: #000; */

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__inner {
  /* max-width: 75%; */
  width: 1440px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
}
.header__logo-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-grow: 1; */
  /* max-width: 195px; */
}

.header__menu {
  display: flex;
  /* flex-grow: 1; */
}

.header__descr {
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo__pic {
  width: 50px;
  height: 50px;
  color: #ec38bc;
  margin-right: 20px;
}
.header__list {
  font-family: roboto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}
.header__item {
  flex-grow: 1;
  list-style-type: none;
  margin-right: 51px;
}
.header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}

.header__link:hover,
.header__link:active {
  color: var(--font-gold);
  transition: color 0.3s;
}

.header__item:last-child {
  margin-right: 0;
}

/* -------------BURGER--------- */
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: relative;
  /* top: 20px;
  left: 20px; */
  width: 26px;
  /* height: 26px; */
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.main__page {
  margin: auto;
  /* max-width: 980px; */
  /* display: -webkit-box; */
  display: flex;
}

.github__link {
  display: inline-block;
}

.sidebar .sidebar__text {
  padding: 25px;
  max-width: 270px;
  min-width: 270px;
  line-height: 1.5;
}

.main__page .content {
  float: right;
  /* padding: 50px;
  max-width: 600px; */
}

.main__page .content .header-cv h1 {
  margin-bottom: 0;
  font-size: 45px;
  color: #c4416c;
}

.coloured {
  background: #2c53647a;

  /* background: linear-gradient(to right, #2c5364, #203a43, #0f2027); */
}

.photo {
  /* margin-bottom: 33px;
  margin-top: 33px; */
  max-width: 225px;
  border: 3px solid #09224a;
  border-radius: 50%;
}

.sidebar {
  float: left;
  padding: 0;
  margin: 44px;
  margin-right: 0;
  min-width: 290px;
  max-width: 290px;
  background-color: rgba(95, 190, 173, 0.116);
  border-left-color: #1e3034;
  border-right-color: #1e3034;
  border-left-width: 3px;
  border-right-width: 3px;
}
/* -----WELCOME START------- */
.welcome {
  max-width: 1440px;
  min-height: calc(100vh - 61px);
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cv__name {
  font-size: 3rem;
  color: #128484a1;
  text-shadow: #fc0 10px 0 50px;
}
.cv__title {
  font-size: 4rem;
  text-shadow: #fc0 10px 0 50px;
  margin-bottom: 15px;
  border-bottom: none;
}
.cv__subtitle {
  font-size: 2rem;
  margin-bottom: 15px;
  text-shadow: #fc0 10px 0 50px;
  text-align: left;
}

.buttons__wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--button-blue);
  /* border: 1px solid var(--accent); */
  /* color: var(--white); */
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--light-blue);
  border: var(--light-blue);
}

.btn:active {
  background-color: #34246d;
  border: #34246d;
}

.btn-pdf {
  background-color: transparent;
  border: 2px solid #534196;
}

.btn-pdf:hover,
.btn-pdf:focus {
  background-color: var(--button-blue);
  border: var(--button-blue);
}

.btn-pdf:active {
  background-color: #34246d;
  border: #34246d;
}

/* -----EXPERIENCE START------- */
.experience {
  /* min-height: calc(50vh); */
  border-radius: 10px;
  padding: 50px 50px 50px 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.experience__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  height: 100%;
  margin: auto;
}

.experience__block {
  margin: 20px;
  width: calc(100% / 3);
  display: inline-block;
  margin-bottom: 80px;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 220px;
}
.experience__subtitle {
  line-height: 1.8;
  margin-top: 30px;
}
.skills__block {
  margin: 20px;
  width: calc(100% / 3);
  display: inline-block;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 220px;
}
.skills__list {
  margin-top: 30px;
  list-style: none;
  line-height: 1.8;
}
.block {
  width: 75%;
  margin: 0 auto;
}
/* -----EDUCATION------- */
.education {
  /* min-height: calc(100vh - 61px); */
  padding: 50px;
}
.education__block {
  width: 380px;
  margin: 0 auto;
}

/* -----LANGUAGES START------- */

.languages {
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  align-items: baseline;
}
.first__column {
  flex-basis: 150px;
}

.second__column {
  flex-basis: 150px;
}

.languages__list {
  margin-top: 30px;
}
.english__leevel {
  margin-top: 30px;
}
/* -----CONTACTS START------- */
.contacts {
  margin: 0 auto;
}

.adress__block {
  margin: 0 auto;
  padding: 50px;
  width: 400px;
}

/* -----FOOTER START------- */

.footer {
  height: 110px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: transparent;
}

.container--footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__rsschool {
  height: 30px;
}

@media (max-width: 1200px) {
  .header__menu {
    visibility: hidden;
    display: none;
  }
  .menu__btn {
    visibility: visible;
    display: block;
  }
}
